/**
 * demo styles
 *
 * @package     jsFiler
 * @author      Vallo Reima
 * @copyright   (C)2016
 */
body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 100.01%;
  margin: 5px;
}
.shell{
  width:100%;
  border:0px solid #000000;
}
.shell a, shell a:link, shell a:visited, shell td a, shell td a:link,  shell td a:visited
{
  text-decoration:none;
  color:#666666;
}
.shell a:hover{
  text-decoration:none;
  color:#000000;
}
.head {
  border-bottom:1px solid #A0A0A0;
  font-size:14px;
  height:27px;
}
.menu{
  margin-left:10px;
  padding-top:5px;
  float:left;
}
.menu a {
    margin-left: 5px;
}
.sign{
  float:right;
  margin-right: 20px;
}
.content {
  clear: both;
  margin-right:50px;
  padding:20px 20px 20px 20px;
  font-size: 12px;
}
